.birthday-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (max-width:800px) {
   

    .birthday-list {
        display: flex;
        flex-direction: column;
    }
}
